textarea {
    width: 500;
    height: 200;
    background-color: #ffffff;
    color: #0b0b0b;
}

input {
    font-family: sans-serif;
    color: #f86e6e;
	font-weight: bold;
}

.button {
    width: 500;
    height: 40;
}

b {
    font-size: 20pt;
    color: #000000;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
}

table {
    border-color: #787878;
    background-color: #b6b6b6;
}
